{% extends "layouts/plantilla_principal.html" %}

{% block contenido %}
    <h1 class="form-header">Restablecer Contraseña</h1>
    <div class="alerts">
        <div class="alert alert-success text-center">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Su contraseña ha sido restablecida Correctamente!</strong>
            <a href="{% url 'login' %}"><h4>Iniciar sesion</h4></a>
        </div>
    </div>

{% endblock contenido %}
