{% extends 'layouts/plantilla_principal.html' %}
{% block contenido %}
    <h1 class="form-header">Restablecer Contraseña</h1>
    <form id="reset-form_id" class="panel" method="post">

        {% csrf_token %}
		<div class="form-header">
            <label><h4>Ingrese su correo electronico:</h4></label>
            {{form.email}}
		</div> <!-- / Email -->


		<div class="form-actions text-center-lg mt-3">
			<input class="btn btn-primary text-center" type="submit" value="Confirmar">
		</div> <!-- / .form-actions -->

    </form>
{% endblock contenido %}
{% block scripts %}
    <script>
        $("#id_email").addClass("form-control input-lg")
        $("#id_email").attr("placeholder","escriba el email vinculado")
    </script>
{% endblock %}
