{% extends "layouts/plantilla_principal.html" %}

{% block contenido %}
    <h1 class="form-header">Restablecer Contraseña</h1>
    {% if validlink %}

        <form method="post" class="panel">{% csrf_token %}



            <div class="alerts">
                {% if form.new_password1.errors %}
                <div class="alert alert-danger fade in">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Error!!</strong> {{form.new_password1.errors}}
                </div>
                {% endif %}
                {% if form.new_password2.errors %}
                <div class="alert alert-danger fade in">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Error!!</strong> {{form.new_password2.errors}}
                </div>
                {% endif %}
            </div>

            <div class="form-group text-center">

                <label for ="id_new_password1"><h4>Nueva Contraseña:</h4></label>
                {{form.new_password1}}
            </div>
            <div class="form-group text-center">

                <label for ="id_new_password2"><h4>Confirmar Contraseña:</h4></label>
                {{form.new_password2}}
            </div>
            <div class="form-group text-center">
                <input class="btn btn-primary text-center" type="submit" value="Cambiar contraseña">
            </div>
        </form>
    {%else %}
        <div class="alerts">
            <div class="alert alert-danger fade in text-center">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong><h3>Este enlace ya ha sido utilizado anteriormente!!!</h3></strong>
                <a href="{% url 'login' %}"><h4>Iniciar sesion</h4></a>
            </div>
        </div>
        <h1 class="text-center"></h1>
    {% endif %}
{% endblock contenido %}
{% block scripts %}
    <script>
        $("#id_new_password1").addClass("form-control input-lg")
        $("#id_new_password1").attr("placeholder","Ingrese la nueva contraseña")

        $("#id_new_password2").addClass("form-control input-lg")
        $("#id_new_password2").attr("placeholder","Confirmar la nueva contraseña")
    </script>
{% endblock %}
