{% extends "layouts/plantilla_aprendiz.html" %}

{% block contenido %}
    <hr>
    <h2 class="text-center">Cambiar Contraseña de {{ user.username|capfirst }}</h2>

    <form id="passreset-form" method="post" class="panel">{% csrf_token %}

        <div class="alerts">
            {% if form.old_password.errors %}
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Error!!</strong> {{form.old_password.errors}}
            </div>
            {% endif %}
            {% if form.new_password1.errors %}
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Error!!</strong> {{form.new_password1.errors}}
            </div>
            {% endif %}
            {% if form.new_password2.errors %}
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>Error!!</strong> {{form.new_password2.errors}}
            </div>
            {% endif %}
        </div>

        <div class="form-group text-center">
            <label for ="id_new_password1"><h4>Contraseña Actual:</h4></label>
            {{form.old_password}}
        </div>
        <div class="form-group text-center">
            <label for ="id_new_password1"><h4>Nueva Contraseña:</h4></label>
            {{form.new_password1}}
        </div>
        <div class="form-group text-center">
            <label for ="id_new_password2"><h4>Confirmar Contraseña:</h4></label>
            {{form.new_password2}}
        </div>
        <div class="form-group text-center">
            <input class="btn btn-primary" type="submit" value="Cambiar mi contraseña">
        </div>
        {{ url }}
    </form>

{% endblock %}
{% block scripts %}
    <script>
        $("#id_old_password").addClass("form-control input-lg")
        $("#id_old_password").attr("placeholder","contraseña actual")
        $("#id_new_password1").addClass("form-control input-lg")
        $("#id_new_password1").attr("placeholder","Ingrese la nueva contraseña")

        $("#id_new_password2").addClass("form-control input-lg")
        $("#id_new_password2").attr("placeholder","Confirmar la nueva contraseña")
    </script>
{% endblock %}
