{% extends "layouts/plantilla_aprendiz.html" %}
{% block contenido %}
    <h1 class="form-header">Cambiar Contraseña de {{ user.username|capfirst }}</h1>
    <div class="alerts">
        <div class="alert alert-success text-center">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong><h3>tu contraseña ha sido restablecida correctamente</h3></strong>
            <h5>Recuerde estos cambios surtiran apartir de ya, cierra session </h5>
            <a href="{% url 'logout' %}" class="btn btn-md btn-danger">Cerrar session</a>
        </div>
    </div>

{% endblock %}
