{% extends "layouts/plantilla_principal.html" %}
{% block contenido %}
    <h1 class="form-header">Restablecer Contraseña</h1>
    <div class="alerts">
        <div class="alert alert-success text-center">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong><h3>Te hemos enviado un correo con un enlace para restablecer tu contraseña!!!</h3></strong>
            <h4>Recuerda, si este correo no esta vinculado a la cuenta, no te llegara el correo</h4>
        </div>
    </div>

{% endblock contenido %}
