<div class="alerts">
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>ERROR!</strong> {{ message }}
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="alert alert-warning ">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>ADVERTENCIA !</strong> {{ message }}
                </div>
            {% else %}
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>FELICITACIONES !</strong> {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
