{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-principal.css' %}">
    {% block styles %}
    
    {% endblock %}
</head>
<body>

    <header>
      <div class="container">
          <div class="jumbotron text-center" style="margin-bottom:0">
            <h1>Student Intelligent</h1>
            <div id ='logo'> </div>

          </div>
      </div>
    </header>
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="{% url 'principal:index' %}">Student Intelligent</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'principal:index' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'principal:introduccion' %}">Introducción</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'principal:justificacion' %}">Justificación</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'principal:contacto' %}">Contactos</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        {% block contenido %}
        
        {% endblock %}
    </div>
    <div class="container">
        <footer>
            <div class="jumbotron text-center" style="margin-bottom:0">
                <p>Derechos Reservador SENA 2018</p>
            </div>
        </footer>
    </div>


    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>