{% extends 'layouts/plantilla_principal.html' %}
{% load  static %}
{% block contenido %}
<section>

    <div style="margin-top:50px">
        <div class="row">
            <div class="col-sm-8">
                <h2>Imagenes</h2>
                <div id="demo" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'imagenes/4545168.jpg' %}" class="img-fluid">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'imagenes/6786872.jpg' %}" class="img-fluid">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'imagenes/64785.jpg' %}" class="img-fluid">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    </a>

                </div>

            </div>





            {% if not user.is_authenticated %}
            <div class="col-sm-4">
                <h2>login</h2>
                {% include 'layouts/alertas.html' %}
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">Email o username:</label>
                        <input type="text" class="form-control" id="email" name="username">
                    </div>

                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control" id="pwd" name="password">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Ingresar</button>

                    </div>

                    <div class="form-group">
                        <a href="{% url 'principal:registro' %}" class="btn btn-link btn-sm">Registrarse</a>

                        <a class="btn btn-link btn-sm" href="{% url 'password_reset' %}">Recuperar Contraseña</a>

                    </div>
                </form>
            </div>
            {% else %}
            <div class="col-sm-4">
                <h5>User: {{ user.username }}</h5>
                <h5>Email: {{ user.email }}</h5>
                {% if rol == "INS" %}
                <a href="{% url 'instructor:index' %}" class="btn btn-primary btn-sm d-block mb-3 text-white">Iniciar dashboard</a>
                {% else %}
                <a href="{% url 'aprendiz:index' %}" class="btn btn-primary btn-sm d-block mb-3 text-white">Iniciar dashboard</a>
                {% endif %}
                <a href="{% url 'logout' %}" class="btn btn-danger btn-sm d-block text-white">cerrar session</a>
            </div>

            {% endif %}
        </div>
    </div>

</section>
{% endblock %}