{% extends 'layouts/plantilla_principal.html' %}
{% load static %}
{% block contenido %}
<section>
     <aside>
          <div>
              <div class="row">
               <div class="col-sm-10">
                    <div id ="texto">
			        <h2>INTRODUCCIÓN </h2>
		            </div>


                     	<p class="lead"> Student Intelligent es una pagina Web  la cual los aprendices Sena puedan resolver inquietudes y dudas sobre sus trabajos, talleres o explicaciones que muchas veces el aprendiz no entiende en la formación.
        La App también permite a los Aprendices Sena formular preguntas como responderlas y en la cual se enfocara en el área de Desarrollo de Software, específicamente en el programa de Tgo. En Análisis y Desarrollo de Sistemas de Información (ADSI) del Centro de Diseño e Innovación Tecnológica Industrial de la Regional Risaralda.
        </p>



                     </div>
                </div>
          </div>
     </aside>

  </section>
{% endblock %}