{% extends 'layouts/plantilla_principal.html' %}
{% load static %}
{% block contenido %}
<section>
    <aside>
        <div>
            <div class="row">
                <div class="col-sm-10">
                    <div id ="texto">
                        <h2>JUSTIFICACIÓN </h2>
                    </div>


                        <p class="lead"> Los motivos o razones por la cuales se lleva a cabo la creación de este proyecto son por la necesidad de crear una ayuda a partir de una estructuración de preguntas relacionadas con su área de formación, además la generaciones de  alternativas de aprendizaje que usen como recurso los dispositivos de la vida cotidiana. Estas temáticas fueron elegidas con el fin de generar un aprendizaje en el usuario ya que es  típico que general mente sele dificulten algunos temas, esta aplicación va a ser diseñada para dispositivos móviles ya que es un medio factible y común para ser difundida esta aplicación teniendo en cuenta que en la actualidad existen gran cantidad de celulares  </p>



                </div>
            </div>
        </div>
    </aside>

</section>
{% endblock %}