{% extends 'layouts/plantilla_principal.html' %}
{% load static %}

{% block contenido %}
<section>
<hr>
<h1 class="text-center">Registrarse</h1>


{% include 'layouts/alertas.html' %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <hr>
    <h3>Datos Personales</h3>
    <div class="form-row">
        {% for item1 in form %}
            <div class="form-group col-sm-6">
                <label for="inputAddress">{{ item1.label }}</label>
                {{ item1 }}
            </div>
        {% endfor %}

    </div>
    <hr>
    <h3>Datos Usuarios</h3>
    <div class="form-row">
        {% for item2 in form2 %}
            <div class="form-group col-sm-6">
                <label for="inputAddress">{{ item2.label }}</label>
                {{ item2 }}
                {{ item2.help_text }}
            </div>
        {% endfor %}
        <div class="form-group col-sm-12">
            <input type="submit" name="kp-send" value="Registrarse">
        </div>
    </div>
</form>

</section>


{% endblock %}