

.fakeimg {
      height:350px;
      background: #aaa;

}
.jumbotron{
    
  	margin-bottom:0
   

}


#logo{
    width:110px;
    height:110px;
  	/*border:1px solid red;*/
  	float: right;
    margin-top: -110px;
    background-position:  center center;
    background-image: url('../imagenes/Student_Intelligent.png');

    
    
}


#titulo h1{
    float: left;
    margin: 0px;
}


@media(max-width:575px){
    #titulo h1{
        width:100%;
        display:block;
    }
    #logo{
        margin:auto;
        float:none;
        
    }
}
