{% extends 'layouts/plantilla_instructor.html' %}
{% load static %}

{% block contenido %}
<section>

    <div class="container mt-3">
        <h2>Lista de Aprendices</h2>
        <input class="form-control" id="myInput" type="text" placeholder="Buscar..">
        <br>
        {% if object_list %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    {% for item in object_list %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.apellidos }}</td>
                        <td>{{ item.userid.email }}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

            {% else %}
                <div class="alert alert-info">
                    <h2 class="text-center">Lo sentimos</h2>
                    <p class="text-center">
                        no se ha encontrado ningun estudiante
                    </p>
                </div>
        {% endif %}
    </div>

</section>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock %}