{% extends 'layouts/plantilla_instructor.html' %}
{% load static %}
{% block contenido %}
<section>
    <div style="margin-top:50px">
        <div class="row">
            <div class="col-sm-8">
                {% include 'layouts/alertas.html' %}
                <h2>{{ user.username }} | {{ user.email }}</h2>
                <div id="demo" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'imagenes/4545168.jpg' %}" class="img-fluid">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'imagenes/6786872.jpg' %}" class="img-fluid">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'imagenes/64785.jpg' %}" class="img-fluid">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    </a>

                </div>

            </div>

            <div class="col-sm-4">
                <div class="card" >
                    <img class="card-img-top" src="{{ foto.url }}" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">{{ nombre }} {{ apellido }}</h4>
                        <p class="card-text">{{ rol|capfirst }}</p>
                        <a href="{% url 'instructor:editarPerfil' user.pk %}" class="btn btn-primary btn-sm">Editar perfil</a>
                        <div class="mt-2">
                            <a href="{% url 'password_change' %}?prev=accounts/" class="btn btn-outline-secondary btn-sm">clave</a>
                            <a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal">eliminar cuenta</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'aprendiz:eliminarPerfil' %}?next=/backoffice">{% csrf_token %}
                    <p>Estas seguro de eliminar este usuario "{{ nombre }} {{ apellido }}" y vinculado a un usuario ({{ user.username }}) y email({{ user.email }})?</p>
                    <input type="submit" value="Confirm">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}