{% extends 'layouts/plantilla_instructor.html' %}
{% load static %}

{% block contenido %}
<section>
<hr>
<h1 class="text-center">Editar Perfil</h1>

{% if form.errors %}
<div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>DatosPersonales!</strong> {{ form.errors }}
</div>
{% endif %}

{% if form2.errors and method == "POST" %}
<div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Usuario!</strong> {{ form2.errors }}
</div>
{% endif %}


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        {% for item1 in form %}
            <div class="form-group col-sm-6">
                <label for="inputAddress">{{ item1.label }}</label>
                {{ item1 }}
            </div>
        {% endfor %}

    </div>
    <hr>
    <h3>Datos personales</h3>
    <div class="form-row">
        {% for item2 in form2 %}
            <div class="form-group col-sm-6">
                <label for="inputAddress">{{ item2.label }}</label>
                {{ item2 }}
            </div>
        {% endfor %}
        <div class="form-group">
            <input type="submit" name="kp-send" class="btn btn-success" value="Actualizar">
        </div>
    </div>
</form>

</section>


{% endblock %}