{% extends 'layouts/plantilla_aprendiz.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/style-instructor.css' %}">
{% endblock %}
{% block contenido %}
<section>
<h2>Preguntas </h2>
    {% if object_list %}
        {% for pregunta in object_list %}
        <div id="accordion" class="mb-3">
            <div class="card mb-3">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapse{{ pregunta.id }}">
                        <div class="media border p-3">
                            <img src="{{ pregunta.userid.foto.url }}" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                            <div class="media-body">
                                <h4>{{ pregunta.userid.nombre }} {{ pregunta.userid.apellidos }} <small> <i>Posted on {{ pregunta.fecha }}</i></small></h4>
                                <p>
                                    <h5 class="mb-0">{{ pregunta.titulo }}</h5>
                                    {{ pregunta.descripcion }}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div id="collapse{{ pregunta.id }}" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <a href="#demo{{ pregunta.id }}" data-toggle="collapse" class="btn btn-secondary">Ver mas comentarios</a>
                        <div id="demo{{ pregunta.id }}" class="collapse">
                            {% for coment in comentario %}
                                {% if coment.pregid.id == pregunta.id %}
                                <div class="media border p-3">
                                    <div class="media-body">
                                        <h4>{{ coment.userid.nombre }} {{ coment.userid.apellidos }}<small> <i>Posted on {{ coment.fecha }}</i></small></h4>
                                        <p>{{ coment.contenido }}</p>
                                    </div>
                                    <img src="{{ coment.userid.foto.url }}" alt="John Doe" class="ml-3 mt-3 rounded-circle" style="width:60px;">
                                </div>
                                <br>
                                {% endif %}
                            {% endfor %}
                        </div>


                        <form action="{% url 'aprendiz:comentario' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id_preg" value="{{ pregunta.id }}">
                            <div class="form-group">
                                <label for="comment">Comentario:* </label>
                                <textarea class="form-control" rows="5" id="comment" name="comentario" required></textarea>
                            </div>
                            <button type="reset" class="btn btn-outline-primary float-right ">Cancelar</button>
                            <button type="submit" class="btn btn-outline-primary float-right mr-2">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}

    {% else %}
        <div class="alert alert-info">
            <h2>Lo sentimos</h2>
            <p>no se han encontrado registros de preguntas</p>
        </div>
    {% endif %}

</section>
{% endblock %}