{% extends 'layouts/plantilla_aprendiz.html' %}
{% load static %}

{% block contenido %}
<section>
<hr>
<h1 class="text-center">Realizar pregunta</h1>

{% if form.errors %}
<div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>DatosPersonales!</strong> {{ form.errors }}
</div>

{% else %}
<div class="alert alert-warning">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Nota!</strong>
    <p>Recuerda escribir bien la pregunta y detalladamente usando titulo y descripcion, si te equivocas no podra ser corregido, tendras que reescribir una nueva</p>
</div>
{% endif %}


<form method="post">
    {% csrf_token %}
    <div class="form-row">

        {% for item in form %}
            <div class="form-group col-sm-12">
                <label for="inputAddress">{{ item.label }}</label>
                {{ item }}
            </div>
        {% endfor %}
        <div class="form-group">
            <input type="submit" name="kp-send" value="Preguntar" class="btn btn-outline-primary">
        </div>
    </div>
</form>

</section>


{% endblock %}